<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/css/adm_book.css">
    </head>
    <body>
      <div class="row1"> 
        <div class= "row">

            <div class="col-md-7">
              <div class="left">
              <!--Title-->
              <h1><%= book.name %></h1>
              <!-- content -->
              <p>Originally written in Portuguese, it became a widely translated international bestseller. An allegorical novel, The Alchemist follows a young Andalusian shepherd in his journey to the pyramids of Egypt, after having a recurring dream of finding a treasure there. The Alchemist follows the journey of an Andalusian shepherd boy named Santiago.</p>
              <!-- /content --> 
              </div>
            </div>
            <div class="col-md-5">
                <div class="right">
                <img class="" src="<%= book.url %>" >
                <h1>&#x2605;&#x2605;&#x2605;&#x2605;&#x2606;</h1>
                <!-- <div class="starsbk">
                    <span class="fa fa-star fa-2x checked" id=star1></span>
                    <span class="fa fa-star fa-2x checked" id=star2></span>
                    <span class="fa fa-star fa-2x checked" id=star3></span>
                    <span class="fa fa-star fa-2x" id=star4></span>
                    <span class="fa fa-star fa-2x" id=star5></span>
                </div> -->
              </div>
            </div>

        </div>


        <div>

            <h2>users who owned book : </h2>
            <table class="table  table-stripped table-bordered" style="width:500px">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i=0;i < users.length;i++) { %>    
                <tr>
                    <td><%= users[i].name %></td>
                    <td><%= users[i].email %></td>  
                </tr>
                <% } %>
                </tbody>
            </table>  
        

      </div>
        </div>
    </body>
</html>