<html>
    <head>
        <title>Registration</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href = "/css/registration.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/registration.css"/>
    </head>
    <body>
        <!-- Tab panes -->
        <div class="container-fluid"><br><br>
            <a href="/" style="font-size: 20px; color: black;"><button ><< Back</button></a><br>
        <div class="tab-content">
          <div class="" id="createuser">
             <div class=B>
                <form action="/register" method="POST"  class="form-inline">    
                    <div class="form-group">
                        <label for="uname">Username:</label><br>
                        <input type="text" class="form-control" id="uname" placeholder="Enter username" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Confirm Password:</label>
                        <input type="password" class="form-control" id="cpwd" placeholder="Enter Confirm password" name="confirm">
                    </div>
                    <Button type="submit">SUBMIT</Button>
                </form>
            </div>
        </div>
       
        </div>
    </div>
 
    </body>
</html>