body{
    background-color: rgb(8, 8, 107);
}
.row1{
    background-color: white;
     
    margin:5%;
    width:85%;
    
    padding:35px;
    border-radius: 20px;   
}

.left{
    margin:10px;
}
.left h1{
    margin-bottom: 40px;
    text-align: center;
}
.right{
    text-align: center;
}
.right h1{
    font-size: 45px;
}
.right img{
    width:230px;
    border-radius: 10px;
}
.table{
    background-color:lightgoldenrodyellow

}
