#loading
{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff
  url('load.gif')
  no-repeat center;
  z-index: 99999;
}  
	 
	 
	 body{
        /* animation: mymove5 15s infinite; */
		/* background-color : #F1C40F; */
		background-color: gold;
       }
	   .heading{
		   position:absolute;
		   top: 5%;
		   right: 8%;
		   font-size: 65px;
		   font-family: Georgia,serif;
		  
	   }
       .M1 {
       	   margin : 20px 0 20px 20px;
       }
       .B1,.B2,.B3 {
		   position :relative;
       	   border-style: none;
           background-color: inherit;
       	   font-size: 50px;
       	   outline: none;
           /* font-family: Helvetica , sans-serif; */
		   font-family:Tahoma, sans-serif;
            
       }
	   .B1{
		    
			color:#1B2631 ;
			text-shadow: 1px 0 10px #ffeaea ;
			animation: top1 2s  ;  
			cursor: pointer;

	   }
       .B2{
       		color: rgb(255, 255, 255);
			text-shadow:  0  0 10px #09325c ;  
			animation: top2 2s  ;  
			cursor: pointer;
       }
	   @keyframes top1{
		from{ left:180px}
		   to{left:0px;}
	   }
	   @keyframes top2{
		from{ right:180px}
		to{right:0px;}
	}
	   .B3{
		   font-size:40px;
		   font-family: 'Brush Script MT', cursive;
		   content: '\00bb';
	   }
       .M2 {
       	position: relative;
       	left: 600px; 
       	top: 0;
       	width: 60%;
       }
       .I1{
      	position:absolute;
      	top: 10px;
      	left: 10px;
      	z-index: 3;
      	animation: mymove 12s infinite;
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   	   }
    	.I2{
      	position:absolute;
      	top: 50px;
      	left: 130px;
      	z-index: 2;
      	animation: mymove3 12s infinite;
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       }
       .I3{
      	position:absolute;
      	top: 50px;
      	left : -110px;
      	z-index: 2;
      	animation: mymove1 12s infinite;
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       }
       .I4{
      	position:absolute;
      	top: 70px;
      	left: 230px;
      	z-index: 1;
      	animation: mymove4 12s infinite;
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       }
       .I5{
      	position:absolute;
      	top: 70px;
      	left: -220px;
      	z-index: 1;
      	animation: mymove2 12s infinite;
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
       }
       .M3{
       	  position: absolute;
       	  left: 10%; 
       	  bottom: 20%;
       	  width: 40%;
       }
       .M4{
       	  background-color: rgb(235, 215, 215);
       	  position: absolute;
       	  right : 80px; 
       	  bottom: 20px;
		  border-radius: 20px;
       	  
       }
       .M5{
       	  padding : 10px;
       }
       @keyframes mymove {
  			0%   {top: 10px; left: 10px; width : 35%; height : 400px; z-index: 3;}
  			20%  {top: 50px; left: 130px; width : 35%; height : 360px; z-index: 2; }
  			40%  {top: 70px; left: 230px; width : 35%; height : 340px; z-index: 1; }
  			60% {top: 70px; left: -220px; width : 35%; height : 340px; z-index: 1; }
  			80%  {top: 50px; left: -110px; width : 35%; height : 360px; z-index: 2;}
  			100% {top: 10px; left: 10px; width : 35%; height : 400px; z-index: 3;}
		}
		@keyframes mymove1 {
			  0%  {top: 50px; left: -110px; width : 35%; height : 360px; z-index: 2; }
  			20%   {top: 10px; left: 10px; width : 35%; height : 400px; z-index: 3; }
  			40%  {top: 50px; left: 130px; width : 35%; height : 360px; z-index: 2; }
  			60%  {top: 70px; left: 230px; width : 35%; height : 340px; z-index: 1; }
  			80% {top: 70px; left: -220px; width : 35%; height : 340px; z-index: 1; }
  			100%  {top: 50px; left: -110px; width : 35%; height : 360px; z-index: 2; }
		}
		@keyframes mymove2 {
			  0% {top: 70px; left: -220px; width : 35%; height : 340px; z-index: 1; }
			  20%  {top: 50px; left: -110px; width : 35%; height : 360px; z-index: 2;}
  			40%   {top: 10px; left: 10px; width : 35%; height : 400px; z-index: 3;}
  			60%  {top: 50px; left: 130px; width : 35%; height : 360px; z-index: 2;}
  			80%  {top: 70px; left: 230px; width : 35%; height : 340px; z-index: 1;}
  			100% {top: 70px; left: -220px; width : 35%; height : 340px; z-index: 1;}
		}
		@keyframes mymove3 {
  			0%  {top: 50px; left: 130px; width : 35%; height : 360px; z-index: 2; }
  			20%  {top: 70px; left: 230px; width : 35%; height : 340px; z-index: 1; }
  			40% {top: 70px; left: -220px; width : 35%; height : 340px; z-index: 1; }
  			60%  {top: 50px; left: -110px; width : 35%; height : 360px; z-index: 2; }
  			80%   {top: 10px; left: 10px; width : 35%; height : 400px; z-index: 3; }
  			100%  {top: 50px; left: 130px; width : 35%; height : 360px; z-index: 2; }
		}
        @keyframes mymove4 {
        	0%  {top: 70px; left: 230px; width : 35%; height : 340px; z-index: 1; }
        	20% {top: 70px; left: -220px; width : 35%; height : 340px; z-index: 1; }
  			40%  {top: 50px; left: -110px; width : 35%; height : 360px; z-index: 2; }
  			60%   {top: 10px; left: 10px; width : 35%; height : 400px; z-index: 3; }
  			80%  {top: 50px; left: 130px; width : 35%; height : 360px; z-index: 2; }
  			100%  {top: 70px; left: 230px; width : 35%; height : 340px; z-index: 1; }
		}
       @keyframes mymove5 {
         0%{ background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); }
         20% {background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); }
         40% {background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); }
         60% {background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);}
         80% {background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);}
         100% {background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);}
    }
